<app-header></app-header>
<div class="container content">
  <!-- Header and Stapline -->
  <div class="row banner">
    <div class="col-12">
      <img class="profile-picture" src="../../assets/images/boom-box-lincoln.jpg" alt="Profile Picture">
      <h1>About me
        <small>Your Strapline</small>
      </h1>
    </div>
  </div>
  <!-- Data from database -->
  <div class="card" *ngFor="let user of users">
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Contact Info: {{ user.contactInfo }}</p>
    <hr>
  </div>
</div>