<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <!-- Home Button -->
    <a routerLink="/" routerLinkActive="active" class="navbar-brand">Your Name</a>
    <button type="button" data-toggle="collapse" data-target="#navbarMain" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapseable Navigation Buttons -->
    <div id="navbarMain" class="navbar-collapse collapse">
      <ul class="navbar-nav justify-content-end">
        <!-- Education Page -->
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/education" class="nav-link">Education</a>
        </li>
        <!-- Experience Page -->
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/experience" class="nav-link">Experience</a>
        </li>
        <!-- Projects -->
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/projects" class="nav-link">Projects</a>
        </li>
      </ul>
    </div>
  </div>
</nav>